@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

.link {
  color: #F3A600; /* Texto dorado */
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -555;
  opacity: 0.02;
}

.link::before,
.link::after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 8px solid #F3A600;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.link::before {
  border-color: #F3A600 #F3A600 transparent transparent;
  z-index: -1;
}

.link::after {
  border-color: transparent transparent #F3A600 #F3A600;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}
