.container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 6px;
  background-color: #ddd;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 5px #f3a600;
  z-index: 10;
}

.fill {
  height: 100%;
  background-color: #f3a600;
  transition: width 0.1s linear;
}
