
/* Tamaños responsivos */
.size_sm {
  --card-size: 97px;
  --icon-size: 25px;
    --title-top:10px
}

.size_md {
  --card-size: 140px;
  --icon-size: 40px;
    --title-top:7px
}

.size_lg {
  --card-size: 280px;
  --icon-size: 80px;
    --title-top:-14px
}
@media (max-width:1000px){
  
.size_sm {
  --card-size: 77px;
  --icon-size: 20px;
    --title-top:10px
}

.size_md {
  --card-size: 100px;
  --icon-size: 24px;
    --title-top:7px
}

.size_lg {
  --card-size: 280px;
  --icon-size: 80px;
    --title-top:-14px
}

}


.text {
  position: relative;
  top: var(--title-top);
  width: 200px;
  text-align: center;
  transition: all 0.4s ease;
  transition-delay: 0.32s;
  color: #fff;
}

.title {
  position: relative;
}

.description {
  position: absolute;
  width: 100%;
  top: calc(var(--card-size)/2);
  opacity: 0;
  font-size: 13px;
  color: #fff;
  line-height: 20px;
  transition: all 0.3s ease;
  transition-delay: 0.32s;
  text-align: center;
}

.superBox:hover .box {
  box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
  transition-delay: 0.32s;

}

.superBox:hover .icon_bg {
 transform: translateY(-14.55%) scale(6);
}

.superBox:hover .icon {
  transform: translateY(-81%) scale(1.4);
}

.superBox:hover .text {
  opacity: 0;
  transform: translateY(-4px) scale(0.8);
}

.superBox:hover .description {
  opacity: 1;
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

.drUrl {
  display: inline-block;
}


/* Ajustar tamaños existentes con variables */
.superBox {
  width: var(--card-size);
  height: var(--card-size);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.container {
  width: var(--card-size);
  height: var(--card-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: absolute;
  width: var(--card-size);
  height: var(--card-size);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  transition: box-shadow ease 1s;
  top: 0;
}

.icon_bg {
  width: calc(var(--icon-size) + 20px);
  height: calc(var(--icon-size) + 20px);
  border-radius: 100%;
  border: 1px solid rgba(225, 227, 232, 0.18);
  box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
  background-color: #ffffff6b;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
  transition-delay: 0.32s;
  will-change: transform;
}

.icon {
  position: relative;
  margin-top: 45px;
  transition: all 0.6s ease;
  transition-delay: 0.32s;
  will-change: transform;
  width: var(--icon-size);
  height: var(--icon-size);
}
