.homeContainer{
    height: max-content;
    width: 100%;
}

.box{

}

.box_5{    
    height: 100vh;
}

.box_2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 10vh 0 0 0;
    height: 65vh;
}

.box_4 {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
/* background-color:  #51320a4b; */
 width: 73%;
 margin: auto;

      
}


.box_6{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}