.homeContainer{
    height: max-content;
    width: 100%;
}

.box{

}

.box_5{    
    height: 100vh;
}

.box_2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 10vh 0;
    height: 65vh;
}

.box_4{
    display: flex;
    align-items: center;
    justify-content: center;
    }