.homeContainer{
    height: max-content;
    width: 100%;
}

.box{

}

.box_5{    
    height: 100vh;
}

.box_2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 10vh 0 0 0;
    height: 65vh;
}

.box_4 {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #51320a4b;
     clip-path: polygon(
    20px 0%, calc(100% - 20px) 0%,
    100% 20px, 100% calc(100% - 20px),
    calc(100% - 20px) 100%, 20px 100%,
    0% calc(100% - 20px), 0% 20px
  );
  margin: 0 15px;
}


.box_6{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}