.wrapper {
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  padding: 10vh 0;
  flex-direction: column;
}

.cardContainer {
  border-radius: 5px;
  color: #b3b8cd;
  padding: 30px 0;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.pro {
  color: #231e39;
  background-color: #f3a600; 
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.round {
  border: 2px solid #f3a600; 
  border-radius: 50%;
  width: 300px;
  height: 270px;
}

h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
  color: #f3a600; 
}

p {
  font-size: 14px;
  line-height: 21px;
}

.primary {
 background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 3px;
  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  cursor: pointer;
}

.primary.ghost {
  background-color: transparent;
  color: #FFF;
}

.skills {
  background-color: #433F3F;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
  color: #f3a600;
}

.buttons{
    
    display: flex;
    gap:15px;
    align-items: center;
    justify-content: center;
}