.wrapper {
  color: white;
  font-family: sans-serif;
  overflow-y: auto;
}


.content {
  position: relative;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.text {
  max-width: 400px;
}

.badge {
  position: relative;
  display: inline-block;
  color: rgb(43, 43, 43);
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.3rem 0.5rem;
  transform: rotate(-5deg);
  margin-bottom: 1rem;
  z-index: 1;
}

.badge::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #f3a600;
  border-radius: 0.2rem;
  z-index: -1;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  animation: fadeInMark 1.2s ease-out 0.3s forwards;
}


h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

p {
  margin-bottom: 1.5rem;
}

button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover {
  background: white;
  color: black;
}

.image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 50px #000;
}


@keyframes fadeInMark {
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
