.container {
  width: 100%;
  display: flex;
  justify-content: center; 
  gap: 20px;
}

@media (max-width:900px){
  .container{
    width: 80%;
    margin: 0 auto;
  }
}


.col {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
}

.card {
  width: 300px;
  height: 300px;
  background: #222;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 900px){
  .card{
     max-width: 200px;
  }
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.cardImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cardImage video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cardContent {
  height: 40%;
  padding: 12px;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cardContent h4 {
  font-size: 16px;
  margin: 0 0 6px;
}

.cardContent p {
  font-size: 13px;
  color: #ccc;
  line-height: 1.4;
  margin: 0;
}

.progress{
  margin: auto;
  width: 32%;
  height: 35px;
  position: relative;
}